body {
    background-color: #ff0066;
    color: white;
}

#container {
    padding: 10px;
    position: relative;
    z-index: 1;
}

#metamaskOverlay {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 2000px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 100;
}

#loadingOverlay {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 2000px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 99;
}

#debtLoadingOverlay {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 2000px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 99;
}

.active {
    display: visible;
}

.inActive {
    display: none;
}

li {
    width: 69%;
    padding: 5px;
    list-style: none;
}

div .createDebt {
    display: block;
    padding: 4px;
}

div .addFriend {
    display: block;
    padding: 4px;
}

div .nameChange {
    display: block;
    padding: 4px;
}

input[type="text"] {
    background-color: black;
}

.owedMoney {
    background-color: #5cb85c;
}

.oweMoney {
    background-color: #d9534f;
}

.zeroMoney {
    background-color: #f0ad4e;
}
